Source: umplayer
Section: graphics
Priority: extra
Maintainer: Ricardo Villalba <rvm@users.sourceforge.net>
Build-Depends: debhelper (>= 5), libqt4-dev, zlib1g-dev
Standards-Version: 3.7.2

Package: umplayer
Architecture: any
Pre-Depends: dpkg (>= 1.14.12ubuntu3)
Depends: ${shlibs:Depends}, mplayer | mplayer-nogui | mplayer-mt
Recommends: alsa-utils, x11-utils
Description: Complete front-end for MPlayer
 Qt Mplayer front-end, with basic features like playing
 videos, DVDs, and VCDs to more advanced features like support
 for MPlayer filters and more. One of the most interesting features
 of UMPlayer: it remembers the settings of all files you play.
 So you start to watch a movie but you have to leave... don't
 worry, when you open that movie again it will resume at the same
 point you left it, and with the same settings: audio track,
 subtitles, volume...
