/*--------------------begin body--------------------*/

body {
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 background: white;
 font: normal 12px verdana, arial, helvetica, "liberation sans", "dejavu sans condensed", sans-serif;
 color: black;
 text-align: left;
}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: #555555; text-decoration: none;}
a:active {color: #555555;}

/*--------------------end body--------------------*/

/*--------------------begin container--------------------*/

#container {
 position: relative;
 width: 950px;
 height: auto;
 padding: 0px;
 margin: 0px auto 0px auto;
 border: 0px solid black;
 background: white;
 text-align: left;
}

/*--------------------end container--------------------*/

/*--------------------begin header--------------------*/

#languages {
 position: relative;
 width: auto;
 height: 22px;
 padding: 4px;
 margin: 0px;
 border: solid black;
 border-width: 0px;
 background: #3d6796;
 text-align: left;
}

#languages_links {
 position: relative;
 float: right;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 text-align: left;
}

#header {
 position: relative;
 width: auto;
 height: 95px;
 padding: 0px;
 margin: 0px;
 border: solid black;
 border-width: 0px 0px 0px 0px;
 background: white url('images/menu3.png') no-repeat;
 text-align: center;
}

#header a, #header a:hover, #header a:visited, #header a:active {
 text-decoration: none;
}

#languages_links ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

#languages_links li {
 float: left;
 margin: 0;
 padding: 4px 4px 4px 0px;
}

#navigation {
 position: absolute;
 left: 0px;
 bottom: 0px;
 width: 950px;
 height: 30px;
 padding: 0px;
 margin: 0px;
 background: transparent no-repeat;
 text-align: center;
}

#navigation_box {
 position: absolute;
 margin: 0px auto 0px auto;
 bottom: 0px;
 left: 165px;
} 

#header_links a {
 color: #ffffff;
 background: transparent url("images/corner_left.gif") no-repeat top left;
 text-decoration: none;
 padding-top: 4px;
 padding-left: 10px;
 padding-bottom: 4px;
}

#header_links a span {
 background: url("afbeeldingen/corner_right.gif") no-repeat top right;
 padding-right: 10px;
}

#header_links a, #header_links a span {
 display: block;
 float: left;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
#header_links a, #header_links a span {
 float: none
}
/* End IE5-Mac hack */

#header_links a:hover {
 color: #000000;
 background: #ebebeb url("images/corner_left.gif") no-repeat top left;
 text-decoration: none;
 padding-left: 10px;
}

#header_links a:hover span {
 background: #ebebeb url("images/corner_right") no-repeat top right;
 padding-right: 10px;
}

#header_links a:active {
 color: black;
 background: #ebebeb url("images/corner_left.gif") no-repeat top left;
 text-decoration: none;
 padding-left: 10px;
}

#header_links a:active span {
 background: #ebebeb url("images/corner_right") no-repeat top right;
 padding-right: 10px;
}

#header_links ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

#header_links li {
 float: left;
 margin: 0;
 padding: 0;
}

#active_tab {
 color: #000000;
 background: #ffffff;
 padding: 0px;
 margin: 0px;
}

#active_tab a:hover {
 background: #ffffff url("afbeeldingen/header menu top left corner.gif") no-repeat top left;
 text-decoration: none;
 padding-left: 10px
}

#active_tab a:hover span {
 background: #ffffff url("afbeeldingen/header menu top right corner.gif") no-repeat top right;
 padding-right: 10px
}

#text_black {
 color: #000000;
}

/*--------------------end header--------------------*/

/*--------------------begin content--------------------*/

#content {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 border: 0px solid black;
 background: white;
 text-align: left;
}

#info {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 6px 0px 6px 0px;
 border: solid black;
 border-width: 0px 0px 0px 0px;
 background: white;
 text-align: left;
}

#info_download {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px;
 border: solid black;
 border-width: 0px;
 background: white;
 text-align: left;
}

#info_features {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px 0px 0px 0px;
 border: solid black;
 border-width: 0px;
 background: white;
 text-align: left;
}

#news {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 border: solid black;
 border-width: 0px;
 background: white;
}

.block {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 border: solid black;
 border-width: 0px 0px 0px 0px;
 background: white;
}

.news_content {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px;
 border: 0px solid black;
 background: white;
}

.news_info {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 6px 0px 6px 0px;
 border: 0px solid black;
 background: white;
}

.news_actions {
 position: absolute;
 right: 0px;
 bottom: 0px;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 6px 4px 6px 0px;
 border: 0px solid black;
 background: white;
}

.subject {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px 6px;
 margin: 0px 0px 6px 0px;
 border: 0px solid black;
 background: #3d6796;
 text-align: left;
 font-size: 12px;
 color: white;
}

.subject a, .subject a:hover, .subject a:visited, .subject a:active {
 color: white;
}

.postimg {
 border: 0px;
 text-decoration: none;
}

/*--------------------end content--------------------*/

/*--------------------begin menu_right--------------------*/

#menu_right {
 position: absolute;
 top: 126px;
 right: 0px;
 bottom: 0px;
 width: 196px;
 height: auto;
 padding: 0px;
 margin: 0px 0px 0px 4px;
 border: solid black;
 border-width: 0px 0px 0px 0px;
 background: white;
 text-align: center;
}

#login {
 position: relative;
 width: auto;
 height: auto;
 padding: 10px;
 margin: 10px 0px 10px 0px;
 border: 1px dotted black;
 background: white;
 font-size: 10px;
 text-align: left;
}

.menu_content {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px 0px 6px 0px;
 border: 0px solid black;
 background: white;
 text-align: left;
}

.menu_content li {
 list-style: none;
 padding: 0;
 margin: 0;
}

.menu_content ul {
 padding: 0;
 margin: 0;
}

/*--------------------end menu_right--------------------*/

/*--------------------begin footer--------------------*/

#footer {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px 0px 0px 0px;
 border: solid black;
 border-width: 1px 0px 0px 0px;
 background: transparent;
 text-align: center;
}

/*--------------------end footer--------------------*/

.no_link {
 text-decoration: none;
}

.no_border {
 border: 0px;
}

a.no_link:link {color: black;}
a.no_link:visited {color: black;}
a.no_link:hover {color: #555555;}
a.no_link:active {color: #555555;}

/****************************************************************/
/* MOD MODERN BBCODE: ADDITIONAL BBCODE INDICATORS */
/****************************************************************/

p.center {
	text-align: center;
}

p.right {
	text-align: right;
}

span.bbs {
	text-decoration: line-through;	
}

code {
	font-family: "Courier New";
	font-size: 110%;
}

div #content ol, div #content ul {
	padding: 5px;
	margin: 0px;
}

div #content li {
	margin-left: 30px;
	padding: 2px;
}

div #content ol li {
	list-style-type: decimal;
}

#content ul li {
	list-style-type: square;
}

#content li {
	color: #666;
}

DIV.spoilerbox p {
	color: #fafafa;
}

DIV.spoilerbox p:hover {
	color: black;
}

#content p {
	margin: 0px;
	padding: 0px;
}

BLOCKQUOTE, DIV.codebox {
	MARGIN: 5px 15px 15px 15px;
	PADDING: 8px;
	BACKGROUND-COLOR: #F1F1F1;
	BORDER-COLOR: #777777;
	BORDER-STYLE: solid;
	BORDER-WIDTH: 1px
}

#container H4 {
	margin: 0px 0px 10px 0px;
}

/****************************************************************/
/* Polls */
/****************************************************************/ border: solid black;
 border-width: 1px 0px 1px 0px;

#poll {
 position: relative;
 width: auto;
 height: auto;
 padding: 10px;
 margin: 0px;
 border: 0px;
 background: #f2f2f2;
}

.poll_info {
 margin-bottom: 10px;
}

div.poll_question {
 width: auto;
 height: auto;
 margin-bottom: 0px;
 text-align: left;
}

div.poll_question_yesno {
 width: auto;
 height: auto;
 margin-bottom: 10px;
 text-align: left;
}

div.poll_result {
 width: auto;
 padding: 0px;
 margin-bottom: 10px;
 height: auto;
 line-height: 1.2em;
}

div.poll_result_yesno {
 width: auto;
 padding: 0px;
 margin-bottom: 10px;
 height: auto;
 line-height: 1.2em;
}

div.poll_yesno_answer {
 width: auto;
 padding: 0px;
 height: auto;
}

img.poll_bar {
 border-right: 2px solid #0066B9; /* teinte plus foncé que la couleur principale du forum */
 background-color: #006FC9; /* Couleur principale du forum */
 height: 1.2em;
 margin: 0;
}

.txtarea {
 margin-bottom: 0px;
}

.txtarea label {
 display: block;
}

#post {
 margin-bottom: 10px;
}
