/*--------------------begin body--------------------*/

body {
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px;
 background: white;
 font: normal 12px verdana, arial, helvetica, "liberation sans", "dejavu sans condensed", sans-serif;
 color: black;
 text-align: left;
}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: #555555; text-decoration: none;}
a:active {color: #555555;}

/*--------------------end body--------------------*/

/*--------------------begin container--------------------*/

#sm_container {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 0px auto 0px auto;
 border: 0px solid black;
 background: white;
 text-align: left;
}

/*--------------------end container--------------------*/

/*--------------------begin content--------------------*/

#sm_content {
 position: relative;
 width: auto;
 height: auto;
 padding: 0px;
 margin: 10px;
 border: 0px solid black;
 background: while;
 text-align: left;
}

/*--------------------end content--------------------*/
