/*--------------------begin footer--------------------*/

#sm_footer {
 position: relative;
 width: auto;
 height: auto;
 padding: 4px;
 margin: 0px 0px 0px 0px;
 border: solid black;
 border-width: 1px 0px 0px 0px;
 background: transparent;
 text-align: center;
}

/*--------------------end footer--------------------*/
